<template>
  <div>
        <b-jumbotron>
            
            <template #lead>
                <h1>TRIVIA QUIZ</h1>
            </template>
            
            <b-form v-if="categories.length" @submit="submitForm()" name="form">
                <b-form-group class="mb-4" label="Select category:">
                    <select class="form-control" v-model="categorySelected" @change="selectedCategory()">
                        <option value="8" selected>Any Category</option>
                        <option class="form-control" v-for="(category, index) in categories" :key="index"
                        v-bind:value="{id: category.id, text: category.name}"
                        >{{ category.name }}</option>
                    </select>
                </b-form-group>
                <b-form-group class="mb-4" label="Select difficulty:">
                    <select class="form-control" v-model="modeSelectedText" @change="selectedMode()">
                        <option value="0" selected>Any Difficulty</option>
                        <option v-for="(mode, index) in difficulties" :key="index"
                        v-bind:value="{text: mode}">{{ mode }}</option>
                    </select>
                </b-form-group>
                <b-form-group
                    label="Choose number of questions:"
                    label-for="input-1"
                >
                    <b-form-input 
                    class="form-control"
                    id="input-1"
                    type="number"
                    min="1"
                    :max="maxQuestions"
                    v-model="numOfQuestions"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-button class="py-2" type="submit">Start Quiz</b-button>
            </b-form>
        </b-jumbotron>
    </div>
</template>

<script>
import {get_categories,  get_number_of_questions} from '../../util/opentdb-api'
import {mapActions} from 'vuex';

export default {
    name: "StartPage",
    data() {
        return {
            categories: [],
            categoryId: null,
            categorySelected: "8",
            modeSelectedText: '0',
            difficulties: ['Easy', 'Medium', 'Hard'],
            categoryCounts: [],
            maxQuestions: 50,
            numOfQuestions: 10,
            startQuiz: false,
            modeSelected: ''
        }
    },
    async created() {
         await this.loadCategories();
         await this.saveSessionToken();
    },
    methods: {
        // gets questions from the API
        async loadCategories() {
            this.categories = await get_categories();
        },
        // gets the number of questions in the selected category
        async loadCategoriesCount(id) {
            return await get_number_of_questions(id);
        },
        // gets the number of questions for the specific category, and sets the max value for the number-input for number of questions.
        async selectedCategory() {
            this.categoryId = this.categorySelected.id;
            this.categoryCounts = await this.loadCategoriesCount(this.categoryId); 
            this.selectMaxQuestions();
        },
        // selects the chosen mode
         selectedMode() {
            this.modeSelected = this.modeSelectedText.text; 
            this.startQuiz = true;
            this.selectMaxQuestions();
        },
        // Sets the max value for the number-input of number of questions
        selectMaxQuestions(){
            switch(this.modeSelected){
                case this.difficulties[0]:
                    this.maxQuestions = this.categoryCounts.total_question_count > 50 ? 50: this.categoryCounts.total_question_count;
                    break;
                case this.difficulties[1]:
                    this.maxQuestions = this.categoryCounts.total_easy_question_count > 50 ? 50 : this.categoryCounts.total_easy_question_count;
                    break;
                case this.difficulties[2]:
                    this.maxQuestions = this.categoryCounts.total_medium_question_count > 50 ? 50 : this.categoryCounts.total_medium_question_count;
                    break;
                case this.difficulties[3]:
                    this.maxQuestions = this.categoryCounts.total_hard_question_count > 50 ? 50 : this.categoryCounts.total_hard_question_count;
                    break;
                default:
                     this.maxQuestions = this.categoryCounts.total_question_count > 50 ? 50: this.categoryCounts.total_question_count;
                     break;
            }
        },
        // submits the form and routes to the question page
        submitForm() {
            this.updateGameStarted(true);
            this.createApiCallUrl();
            this.$router.push("/question");
        },
        // creates the API url for the chosen category, difficulty and number of questions
        createApiCallUrl() {
            let apiUrl = `https://opentdb.com/api.php?amount=${this.numOfQuestions}`
            apiUrl += this.categorySelected.id === undefined ? '' : `&category=${this.categorySelected.id}`
            apiUrl += this.modeSelected === '' ? '' : `&difficulty=${this.modeSelected.toLowerCase()}`
            this.saveApiUrl(apiUrl);

        },
        ...mapActions(['saveApiUrl']),
        ...mapActions(['saveSessionToken']),
        ...mapActions(['updateGameStarted'])
    }
}
</script>

<style>
h1 {
    font-weight: bold;
}

.form-control {
    border-radius: 20px;
    text-align-last: center;
}

.btn {
    background-color: #FABA5C;
    border: none;
    color: #000000;
    margin-top:20px;
    width: 30%;
    min-width: 100px;
    border-radius: 19px;
}

</style>