<template>
    <div>
        <b-navbar tabs>
            <b-navbar-nav id="moveScore" disabled>Score: {{ totalScore }}</b-navbar-nav >
            <span id="score">{{displayIndex()}}/{{numOfQuestions}}</span>
        </b-navbar>
    </div>
</template>
<script>
import {mapState, mapGetters} from 'vuex'

export default {
    name: "Header",
    computed: {
        ...mapState({
            totalScore: 'totalScore',
            questionIndex: 'index'
        }),
        ...mapGetters(['numOfQuestions'])
    },
    methods: {
        // displays the question index in the header
        displayIndex(){
            return this.questionIndex == this.numOfQuestions ? this.questionIndex : this.questionIndex + 1;
        }
    }
}
</script>

<style scoped>
.b-nav {
    margin-bottom:20px;
    justify-content: space-between;
}

#score {
    padding: 3px;
    background-color: #FABA5C;
    border-radius: 50%;
    font-size: 1.5em;
}

#moveScore {
    padding-right: 85%;
    font-size: 1.5em;
}
</style>