<template>
  <div>
        <b-jumbotron>

            <template #lead>
               <h1>RESULT</h1>
               <h4>You answerd {{totalScore}} correct out of {{results.length}} questions.</h4>
            </template>

            <hr class="my-4">

             <b-list-group>
                <b-list-group-item
                v-for="(result, index) in results" :key="index">
                    <h5> {{decodeString(result.question)}} </h5>
                    <p> Your answered: {{ decodeString(result.selectedAnswer) }} </p>
                    <p> Correct answer: {{ decodeString(result.correctAnswer) }} </p>
                </b-list-group-item>
            </b-list-group>

            <h3>Your total score: {{totalScore * 10}}</h3>
            
            <b-button class="py-2 mx-2" @click="playAgain()">Play Again</b-button>
            <b-button class="py-2 mx-2" @click="backToStart()">Start</b-button>
            
        </b-jumbotron>
    </div>
</template>

<script>
/**
 * A vue component displaying the correct answers and what the user answerd for each question.
 */
import { mapState, mapActions } from 'vuex';
export default {
    computed: {
        ...mapState({
            results: 'answerdQuestions',
            totalScore: 'totalScore'
        })
    }, methods: {
        /**
         * String decoder for special characters
         * @param string to decode special characters in
         */
        decodeString(str){
            if (typeof(str) == "string") {
                str = str.replace(/&gt;/ig, ">");
                str = str.replace(/&lt;/ig, "<");
                str = str.replace(/&#039;/g, "'");
                str = str.replace(/&rsquo;/ig, "'");
                str = str.replace(/&quot;/ig, '"');
                str = str.replace(/&eacute;/ig, 'É');
                str = str.replace(/&ldquo;/ig, '"');
                str = str.replace(/&rdquo;/ig, '"');
                str = str.replace(/&Uuml;/ig, '"');
                str = str.replace(/&amp;/ig, '&'); /* must do &amp; last */
            }
            return str;
        },
        /**
         * Reset to play same category and amount of questions. 
         * Route to the question page.
         */
        playAgain() {
            this.reset();
            this.$router.push("/question");
        },
        /**
         * Reset and return to the start page to play again.
         */
        backToStart() {
            this.resetHard();
            this.$router.push("/")
        },
        ...mapActions(['reset']),
        ...mapActions(['resetHard'])
    },
}
</script>

<style scoped>

h1 {
    font-weight: bold;
}

h3 {
    margin-top: 25px;
}

h5 {
    font-weight: bold;
}

.btn {
    background-color: #FABA5C;
    border: none;
    color: #000000;
    margin-top:20px;
    width: 30%;
    min-width: 100px;
    border-radius: 19px;
}

</style>