<template>
    <div>
        <Header/>
        <QuestionBox 
            v-if="index<questions.length && questions.length"
            :question="questions[index]"
            :next="next"
            :answer="answer"
            :addToScore="addToScore"
        />
        <QuestionFinal
            v-else-if="questions.length"
            :totalScore="totalScore"
            :numberOfQuestions="questions.length"
        />
    </div>
</template>

<script>
import QuestionBox from './QuestionBox.vue';
import QuestionFinal from './QuestionFinal.vue'
import Header from '../Header.vue'
import {mapState, mapActions} from 'vuex';

export default {
  name: 'QuestionPage',
  components: {
    QuestionBox,
    QuestionFinal,
    Header
  },
  // load questions from the API
    async created() {
        await this.loadQuestions();
    },
    computed: {
        ...mapState({
            questions: 'questions',
            index: 'index',
            totalScore: 'totalScore'
        })
    },
    methods: {
        // increases the indexnumber when the user clicks the next-button
        next() {
            this.incrementQuestionIndex()
        },
        // saves the selected answer
        answer(selectedAnswer) {
            this.saveAnswerdQuestion(selectedAnswer);
        },
        ...mapActions(['loadQuestions']),
        ...mapActions(['incrementQuestionIndex']),
        ...mapActions(['saveAnswerdQuestion']),
        ...mapActions(['addToScore'])
    }
}
</script>