<template>
    <div>
        <b-jumbotron>
            
            <template #lead>
                <h1>End of Game</h1>
                <p>You got {{totalScore}}/{{numberOfQuestions}} correct answers</p>
                <h4>Press result to see a quiz overview.</h4>
            </template>

            <hr class="my-4">

                <b-button class="py-2" @click="showResult()">Result</b-button>
            
        </b-jumbotron>
    </div>
</template>

<script>
/**
 * A vue component used to display number of questions correctly answerd and redirection to 
 * a more detailed result page.
 */
import {mapActions} from 'vuex'
export default {
    name: "QuestionFinal",
    props: {
        totalScore: Number,
        numberOfQuestions: Number
    },
    methods: {
        /**
         * Allow routing to the result page
         */
        showResult() {
            this.updateEndOfGame(true);
            this.$router.push("/result")
        },
        ...mapActions(["updateEndOfGame"])
    }
    
}

</script>

<style scoped>
h1 {
    font-size: 60px;
    margin: 30px 0px 10px 0px;
}

h4 {
    margin-top: 60px;
}

.btn {
    background-color: #FABA5C;
    border: none;
    color: #000000;
    margin-top:10px;
    width: 30%;
    border-radius: 19px;
}
</style>
