<template>
    <div>
        <b-jumbotron>
            <template #lead>
                {{ decodeString(question.question) }}
            </template>

            <hr class="my-4">

            <b-list-group>
                <b-list-group-item
                    v-for="(answer, index) in shuffledAnswers" 
                    :key="index" 
                    @click="selectedAnswer(index)" 
                    :disabled="selectedIndex !== null" 
                    :class="displayAnswerClass(index)">
                    {{ decodeString(answer) }}
                </b-list-group-item>
            </b-list-group>

            <b-button
            @click="next" :disabled="selectedIndex === null">Next</b-button>

        </b-jumbotron>
    </div>
</template>

<script>
import _ from 'lodash'

export default {
    name: "QuestionBox",
    props: {
        question: Object,
        next: Function,
        answer: Function,
        addToScore: Function
    },
    data() {
        return {
            selectedIndex: null,
            correctIndex: null, 
            shuffledAnswers: []
        }
    },
    watch: {
        // Sets selected index to null and shuffles the answers
        question() {
            this.selectedIndex = null;
            this.shuffledAnswers = this.shuffleAnswers();
        }
    },
    methods: {
        //Checks if the selected answer is the correct answer
        selectedAnswer(index) {
            this.answer(this.shuffledAnswers[index]);
            if(index === this.correctIndex && this.selectedIndex === null) {
                this.addToScore();
            }
            this.selectedIndex = index;
        }, 
        // shuffles the answers
        shuffleAnswers() {
            let answers = [...this.question.incorrect_answers, this.question.correct_answer];
            let shuffled = _.shuffle(answers);
            this.correctIndex = shuffled.indexOf(this.question.correct_answer);
            return shuffled;
        },
        // Adds a class to the correct answer & also if the selected answer is incorrect
        displayAnswerClass(index) {
            let answerClass = '';
            let isClicked = this.selectedIndex === null;
            if (!isClicked && this.selectedIndex === index &&this.correctIndex !== index){
                answerClass = 'incorrect';
            }
            else if(!isClicked && this.correctIndex === index) {
                answerClass = 'correct';
            } 
            return answerClass;
        },
        // decodes a string 
        decodeString(str){
            if (typeof(str) == "string") {
                str = str.replace(/&gt;/ig, ">");
                str = str.replace(/&lt;/ig, "<");
                str = str.replace(/&#039;/g, "'");
                str = str.replace(/&rsquo;/ig, "'");
                str = str.replace(/&quot;/ig, '"');
                str = str.replace(/&eacute;/ig, 'É');
                str = str.replace(/&ldquo;/ig, '"');
                str = str.replace(/&rdquo;/ig, '"');
                str = str.replace(/&Uuml;/ig, '"');
                str = str.replace(/&iacute;/ig, 'í');
                str = str.replace(/&amp;/ig, '&'); /* must do &amp; last */
            }
            return str;
        }
    },
    created() {
        this.shuffledAnswers = this.shuffleAnswers()   
    }
}
</script>

<style scoped>
.list-group {
    margin: 10px;
}

.list-group-item:hover {
    background: lightgray;
    cursor: pointer;
}

.correct {
    background-color: rgb(157, 235, 157);
}

.incorrect {
    background-color: rgba(247, 100, 100, 0.863);
}

.btn {
    background-color: #FABA5C;
    border: none;
    color: #000000;
    margin-top:20px;
    width: 30%;
    height: 38px;
    border-radius: 19px;

}

.btn .disabled {
    background-color: #FABA5C;
}

</style>


