<template>
  <div id="app">
    <b-container>
      <b-col cols="8" offset="2">
        <router-view/>
      </b-col>
    </b-container>
  </div>
</template>

<script>

export default {
  name: 'App',
 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
